<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:Web="http://schemas.live.com/Web/">

<head>
    <!--pc-->
    <title>中国人民大学 - Hello RUC</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="{{url_for('static', filename='image/ruc.ico')}}" rel="shortcut icon" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bing.css')}}">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header hidden-xs">
                <a class="navbar-brand" href="/index/index/index.html">Hello RUC</a>
            </div>
            <div class=" navbar-collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="header-home">
                        <a href="/index/index/index.html">首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="https://www.ruc.edu.cn/administration" class="dropdown-toggle"  data-toggle="dropdown">
                            行政 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://www.ruc.edu.cn/office" >学校办公室</a>
                            </li>
                            <li>
                                <a href="http://jiaowu.ruc.edu.cn/" >教务处</a>
                            </li>
                            <li>
                                <a href="http://zsjyc.ruc.edu.cn/">招生就业处</a>
                            </li>
                            <li>
                                <a href="https://fo.ruc.edu.cn/">财务处</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="https://www.ruc.edu.cn/administration">所有行政单位</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            学院 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://www.ruc.edu.cn/humanities">人文学部</a>
                            </li>
                            <li>
                                <a href="https://www.ruc.edu.cn/socialsciences">社会学部</a>
                            </li>
                            <li>
                                <a href="https://www.ruc.edu.cn/economics">经济学部</a>
                            </li>
                            <li>
                                <a href="https://www.ruc.edu.cn/lawandpolitics">法政学部</a>
                            </li>
                            <li>
                                    <a href="https://www.ruc.edu.cn/scienceandtechnology">理工学部</a>
                            </li>
                            <li>
                                    <a href="https://www.ruc.edu.cn/otherschools">继续教育</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="https://www.ruc.edu.cn/schools-az">所有院系</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>

                <ul class="nav navbar-nav navbar-right">
                        <li id="header-group">
                                <a href="https://v.ruc.edu.cn/">微人大</a>
                        </li>
                   <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                   <li id="header-message" class="dropdown hidden-xs" ng-controller="messages">
                        <a id="title-msg" data-toggle="dropdown" class="dropdown-toggle" href="/index/home/getmsg.html">
                            <span class="glyphicon glyphicon-envelope" title="联系我们" ng-bind="msgs.length"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <header id="b_header">
                <a class="b_logoArea" href="/?FORM=Z9FD1" h="ID=SERP,5025.1">
                    <h1 class="b_logo" title="Back to Bing search" aria-label="Go to Bing homepage">
                        <img src="{{url_for('static', filename='image/logo02-cropped.png')}}"  style="width: 90px" />
                    </h1>
                </a>
            <form action="/search" id="sb_form">
                
                <div class="b_searchboxForm" role="search">
                    <input class="b_searchbox" id="sb_form_q" name="q" type="search" value="{{ query }}" />
                    <input type="submit" class="b_searchboxSubmit" id="sb_form_go" title="Search" tabIndex="0" value="Search"/>
                </div>
            </form>
            <nav class="b_scopebar" role="navigation" aria-label="Main menu"></nav>
        </header>
        <div id="b_content">
            <main aria-label="Search Results">
                <div id="b_tween">
                    <span class="sb_count">{{ result_num }} results</span>
                    <span class="ftrB">
                        <a class="ftrH" id="h5114" role="button" onclick="">
                            <span class="fs_label">
                                {% if time_filter == "" %}
                                Any Time
                                {% else %}
                                Search For {{ time_filter }}
                                {% endif %}
                            </span>
                            <span class="sw_ddbk"></span>
                        </a>
                        <div id="d5092" class=" b_dropdown " role="menu">
                            <div class="ftrD" id="ftrD_Any_time">
                                <a class="b_toggle " role="menuitem" href="{{ url_for('search', q=query, time_filter='')}}">All</a>
                                {% for time in times %}
                                <a class="b_toggle " role="menuitem" href="{{ url_for('search', q=query, time_filter=time)}}">{{ time }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </span>
                    <span class="ftrB">
                        <a class="ftrH" id="h5113" role="button" onclick="">
                            <span class="fs_label">
                                {% if inst_filter == "" %}
                                Any Institution
                                {% else %}
                                Search For {{ inst_filter }}
                                {% endif %}
                            </span>
                            <span class="sw_ddbk"></span>
                        </a>
                        <div id="d5091" class=" b_dropdown " role="menu">
                            <div class="ftrD" id="ftrD_Any_inst">
                                <a class="b_toggle " role="menuitem" href="{{ url_for('search', q=query, inst_filter='')}}">All</a>
                                {% for inst in institutions %}
                                <a class="b_toggle " role="menuitem" href="{{ url_for('search', q=query, inst_filter=inst)}}">{{ inst }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </span>
                    <script>
                            $("#d5092").hide();
                            $("#h5114").click(function(){
                                if($("#d5092").is(":hidden")){
                                    $("#d5092").show();
                                }
                                else {
                                    $("#d5092").hide();
                                }
                            });
                            $("#d5091").hide();
                            $("#h5113").click(function(){
                                if($("#d5091").is(":hidden")){
                                    $("#d5091").show();
                                }
                                else {
                                    $("#d5091").hide();
                                }
                            });
                    </script>
                </div>
                <div class="sp_url">
                    <div id="sp_extquery"><a href="{{ url_for('search', q=query, extquery=True) }}">对结果不满意？</a></div>
                    {% if need_requery %}
                    <div id="sp_requery">Including results for <a href="{{ url_for('search', q=query) }}"><strong>{{ query }}</strong></a>.</div>
                    <div id="sp_recourse">Do you want results only for <a href="{{ url_for('search', q=origin_query) }}">{{ origin_query }}</a>?</div>
                    {% endif %}
                </div>
                <ol id="b_results">
                    {% for link in link_list %}
                    <li class="b_algo">
                        <div class="b_title">
                            <h2>
                                <a target="_blank" href="{{ link.url }}" h="ID=SERP,5141.1">{{ link.title }}</a>
                            </h2>
                        </div>
                        <div class="b_caption">
                            <p>
                                <span class="link-date">{{ link.date }} &nbsp; - &nbsp;</span>
                                {{ link.caption }}
                            </p>
                            <div class="b_attribution b_nav">
                                <cite> {{ link.cite }} </cite>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="b_pag">
                        <nav role="navigation" aria-label="More results for 中国人民大学">
                            <h4 class="b_hide">Pagination</h4>
                            <ul class="sb_pagF">
                                <li>
                                    {% if pagination.is_first_page %}
                                    <a class="sb_inactP sb_pagP sb_pagP_bp b_widePag sb_bp b_roths"></a>
                                    {% else %}
                                    <a class="sb_pagP sb_pagP_bp b_widePag sb_bp b_roths" title="Previous page" href="{{ url_for('search', q=query, page=pagination.cur_page-1) }}">
                                        <div class="sw_prev">Previous</div>
                                    </a>
                                    {% endif %}
                                </li>
                                {% for page in pagination %}
                                <li>
                                    {% if page == pagination.cur_page %}
                                    <a class="sb_pagS sb_pagS_bp b_widePag sb_bp">{{ page }}</a>
                                    {% else %}
                                    <a class="b_widePag sb_bp" href="{{ url_for('search', q=query, page=page) }}">{{ page }}</a>
                                    {% endif%}
                                </li>
                                {% endfor %}
                                <li>
                                    {% if pagination.is_last_page %}
                                    <a class="sb_inactP sb_pagN sb_pagN_bp b_widePag sb_bp"></a>
                                    {% else %}
                                    <a class="sb_pagN sb_pagN_bp b_widePag sb_bp " title="Next page" href="{{ url_for('search', q=query, page=pagination.cur_page+1) }}"><div class="sw_next">Next</div></a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </li>
                </ol>
            </main>
            <aside aria-label="Additional Results">
                <ol id="b_context">
                    <li class="b_ans">
                        <div class="b_rrsr">
                            <h2 class="">Related People</h2>
                            <ul class="b_vList">
                                {% for people in rel_people %}
                                <li>
                                    <a href="{{ people[1] }}">{{ people[0] }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="b_ans">
                        <div class="b_rrsr">
                            <h2 class="">Related Institutions</h2>
                            <ul class="b_vList">
                                {% for inst in rel_inst %}
                                <li>
                                    <a href=" {{ inst[1] }}">{{ inst[0] }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ol>
            </aside>
        </div>
    </div>
</body>

</html>